PORT=3000
DATABASE_URL=mongodb://localhost:27017/dash-leads
JWT_SECRET=D@SHLE@dS

API_VERSION=v1
NODE_ENV=development #---> production | development
API_BASE_URL=http://localhost:3000 # ---> https://app_domain.com:3000

EMAIL_USER=
EMAIL_PASSWORD=

RESEND_API_KEY= 

RAZORPAY_KEY=
RAZORPAY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

ADMIN_EMAIL=sutarswapnil322@gmail.com
ADMIN_PASSWORD=ADMIN#123
ADMIN_FIRSTNAME=SWAP
ADMIN_LASTNAME=SUTAR